header#main-header {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: orange;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  color: #fff;
}

header span {
  font-weight: 300;
}

@media only screen and (min-width: 1024px) {
  header#main-header {
    margin: 200px 50px 0;
  }
}
