html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Global layout stuff*/

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

.tweeter-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  padding: 50px 0;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .tweeter-body {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
}
