nav {
  height: 120px;
  width: 100%;
  color: #fff;
  padding: 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

nav span.logo {
  font-family: "Bungee", cursive;
}
nav div.right-text {
  margin-left: auto;
  text-align: center;
}

div.right-text span {
  display: block;
  line-height: 0.8;
}
@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 6px;
  }
  100% {
    top: 0;
  }
}
.right-text img {
  position: relative;
}
.right-text:hover {
  cursor: pointer;
}
.right-text:hover img {
  animation: jump 2s infinite;
}

@media only screen and (min-width: 1024px) {
  nav {background: #4056a1;}
}